### 2ª Etapa, Tratamento da Coluna CODANOMAL

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
tabelas = pd.read_csv('tabelas_v1.csv')
tabelas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58771286 entries, 0 to 58771285
Data columns (total 9 columns):
 #   Column        Dtype
---  ------        -----
 0   IDADEMAE      float64
 1   GRAVIDEZ      float64
 2   PARTO         object
 3   SEXO          object
 4   PESO          float64
 5   IDANOMAL      object
 6   CODANOMAL     object
 7   ANO           int64
 8   FAIXA_ETARIA  object
dtypes: float64(3), int64(1), object(5)
memory usage: 3.9+ GB

In [3]:
tabelas['CODANOMAL'].value_counts(normalize=1,dropna=False)*100

NaN                     99.277600
Q699                     0.058663
Q668                     0.037802
Q690                     0.031003
Q909                     0.028444
                          ...
Q753Q760Q792             0.000002
Q02XQ423Q917             0.000002
Q000Q699Q870             0.000002
Q359Q360Q740             0.000002
Q183Q532Q564Q675Q799     0.000002
Name: CODANOMAL, Length: 25982, dtype: float64

In [4]:
# Conferindo a quantidade de códigos das colunas
tabelas['CODANOMAL_QTDE'] = tabelas['CODANOMAL'].apply(lambda x: len(str(x)))
# Códigos com 3 carateres são dados do tipo nan/nulos, com 4, possuem apenas 1 código CID,
# com mais de 4 possuem mais de 1 CID registrado
tabelas['CODANOMAL_QTDE'].value_counts(normalize=1)*100

3     99.279262
4      0.637241
8      0.054860
12     0.016984
16     0.006724
20     0.004815
9      0.000063
14     0.000024
19     0.000012
7      0.000007
11     0.000005
15     0.000002
Name: CODANOMAL_QTDE, dtype: float64

In [5]:
# Fazendo a ajustes e criando uma nova coluna com apenas um CID 
tabelas['CODANOMAL_CID_UNICO'] = tabelas['CODANOMAL'].apply(lambda x: str(x)[0:4])
tabelas['CODANOMAL_CID_UNICO'].value_counts(normalize=1)*100

nan     99.277600
Q699     0.059939
Q668     0.040004
Q690     0.032159
Q909     0.028541
          ...
P115     0.000002
P268     0.000002
P769     0.000002
L671     0.000002
Q513     0.000002
Name: CODANOMAL_CID_UNICO, Length: 774, dtype: float64

In [6]:
# Criando uma nova coluna para conferir os ajustes da coluna criada com um único CID e valores NaN.
tabelas['CODANOMAL_CID_UNICO_QTDE'] = tabelas['CODANOMAL_CID_UNICO'].apply(lambda x: len(str(x)))
tabelas['CODANOMAL_CID_UNICO_QTDE'].value_counts(normalize=1)*100

3    99.279262
4     0.720738
Name: CODANOMAL_CID_UNICO_QTDE, dtype: float64

In [7]:
# Agora vamos remover as colunas que utiliazamos para o calculo e a coluna CODANOMAL
tabelas = tabelas.drop(columns=['CODANOMAL','CODANOMAL_CID_UNICO_QTDE','CODANOMAL_QTDE'])
tabelas.head()

,IDADEMAE,GRAVIDEZ,PARTO,SEXO,PESO,IDANOMAL,ANO,FAIXA_ETARIA,CODANOMAL_CID_UNICO
0,25.0,1.0,Normal,Masculino,3800.0,Não,2001,21-30,nan
1,15.0,1.0,Normal,Masculino,3100.0,Não,2001,0-20,nan
2,35.0,1.0,Cesária,Masculino,3300.0,Não,2001,31-40,nan
3,17.0,1.0,Normal,Feminino,3200.0,Não,2001,0-20,nan
4,31.0,1.0,Normal,Feminino,3600.0,NaN,2001,31-40,nan

In [8]:
#Salvando a nova tabelas formatada
tabelas.to_csv('tabelas_v2.csv', index=False)