## Fracionando o Conjunto de Dados Final

In [1]:
import pandas as pd

In [2]:
tabelas = pd.read_csv('tabelas_v3.csv')

In [3]:
tabelas.head(3)

,Idade_Mae,Numero_Filhos,Tipo_Parto,Sexo,Peso,ID_Anomalia,Ano,Faixa_Etaria,ID_CID,Situacao
0,25.0,1.0,Normal,Masculino,3800.0,Não,2001,21-30,Não,Sem Anomalia
1,15.0,1.0,Normal,Masculino,3100.0,Não,2001,0-20,Não,Sem Anomalia
2,35.0,1.0,Cesária,Masculino,3300.0,Não,2001,31-40,Não,Sem Anomalia

In [4]:
tabelas.Situacao.value_counts(normalize=1)*100

Sem Anomalia       99.243430
Anomalia sem SD     0.724870
Anomalia com SD     0.031701
Name: Situacao, dtype: float64

In [5]:
tabelas_frac = tabelas.sample(frac=0.10)

In [6]:
tabelas_frac.Situacao.value_counts(normalize=1)*100

Sem Anomalia       99.248479
Anomalia sem SD     0.719547
Anomalia com SD     0.031974
Name: Situacao, dtype: float64

In [7]:
tabelas_frac.head()

,Idade_Mae,Numero_Filhos,Tipo_Parto,Sexo,Peso,ID_Anomalia,Ano,Faixa_Etaria,ID_CID,Situacao
1713586,19.0,1.0,Normal,Feminino,3600.0,Não,2001,0-20,Não,Sem Anomalia
45028635,20.0,1.0,Cesária,Feminino,2430.0,Não,2017,0-20,Não,Sem Anomalia
48256525,26.0,1.0,Normal,Masculino,3620.0,Não,2018,21-30,Não,Sem Anomalia
24482357,27.0,1.0,Normal,Feminino,3225.0,Não,2009,21-30,Não,Sem Anomalia
5132384,28.0,1.0,Normal,Feminino,2760.0,Não,2002,21-30,Não,Sem Anomalia

In [8]:
tabelas_frac.to_csv('tabela_v3_10percent.csv',index=False)